.newsWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  display: flex;
}

.contentArea {
  height: 400px;
  display: flex;
  flex: 1 0 300px;
  justify-content: center;
  background-size: cover;
  background-position: center;
  @include desktop {
    flex: 1 0 25%;
  }
}

.textArea {
  display: block;
  width: 100%;
  position: relative;
  height: auto;
  z-index: 5;
}

.newsText {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 95%;
}
