
//Fonts
$baseFontSize: 16px;
$openSans: 'open_sanslight', sans-serif;

// Colours
$backColor: #000;
$baseFontColor: #ffffff;
$footerFontColor: #c4c4c4;

// Media Queries
$tablet-width: 600px;
$desktop-width: 1000px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
